.neo-plain-list {
    overflow: auto;
    height: 100%;
}

.neo-plain-list-item:nth-child(even) {
    backdrop-filter: brightness(80%);
}

.neo-plain-list-item:nth-child(odd) {
    backdrop-filter: brightness(125%);
}

.neo-plain-list-item:hover {
    backdrop-filter: brightness(100%);
    background: var(--neo-light-main-color)
}

.neo-plain-list-item.selected {
    backdrop-filter: brightness(100%);
    background: var(--neo-dark-main-color)
}