
.input-group {
    display: grid;
    grid-template-rows: auto auto;
}

.input-label {
    grid-row: 1;
    margin: 0.5rem 0.3rem;
}

.input-row {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.input-container {
    grid-column: 2;
    z-index: 1;
}

.input {
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    width: 100%;
}
