<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorXMauiDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carddemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Card
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttoncarddemo">
                <span class="oi oi-plus" aria-hidden="true"></span> ButtonCard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="circularselectordemo">
                <span class="oi oi-plus" aria-hidden="true"></span> CircularSelector
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checksdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Checks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cardslistdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Cards List demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plainlistdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Plain List demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inputfielddemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Input Field demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fileManager">
                <span class="oi oi-plus" aria-hidden="true"></span> File Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tooltipdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Tool Tip demo
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
