@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents

@inherits MouseInteractiveBaseComponent

<div class="@GetShadowPosition() @GetPadding() @GetMargin() base-card-shape rounded-xl @GetBackgroundShape() @CustomClasses @textSelectableStyle h-full" 
    @onmouseover=OnMouseOver @onmouseout=OnMouseOut
    @onmousedown=OnMouseDown @onmouseup=OnMouseUp
    @onclick=OnMouseClick>
    @ChildContent
</div>