@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents

@inherits MouseInteractiveBaseComponent

<div class="@shadowStyle p-3 base-card-shape rounded-xl @shapeStyle @CustomClasses @textSelectableStyle h-full" 
    @onmouseover=OnMouseOver @onmouseout=OnMouseOut
    @onmousedown=OnMouseDown @onmouseup=OnMouseUp
    @onclick=OnMouseClick>
    @ChildContent
</div>