

<div class="neo-card neo-bg @ColorClass @ShadowClass @ShapeClass @SelectableTextClass @PaddingClass @MarginClass @AdditionalClasses" 
     style="@BorderRadiusStyle"
     @onclick="OnMouseClick">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>