.neo-card {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(145deg, var(--neo-left-bg-color), var(--neo-right-bg-color));
}
.neo-card:empty {
    display: none;
}

.prevent-select {
    user-select: none;
}