
<div @onclick="(e) => OnClick(e)" class="neo-card neo-bg @GetColorTheme @GetShadowPositionClass @GetBackgroundShape @GetSelectableText @GetPadding @GetMargin h-full @AdditionalClasses" style="@BorderRadius.GetCssProperty()">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>