
<div class="neo-card neo-bg @GetColorTheme @GetShadowPositionClass @GetBackgroundShape @GetSelectableText" style="@BorderRadius.GetCssProperty()">
    @if (Body != null)
    {
        @Body
    }
</div>