@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*  Different shapes handled by the library
    Mirrors what you can find in NeoBlazorphic.StyleParameters.BackgroundShape  

    based on https://dev.to/afif/we-can-finally-animate-css-gradient-kdk
*/

@property --base-card-left-color {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

@property --base-card-right-color {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

.neo-gray {
    --disabled-opacity: 0.4;

    --base-main-color: #202020;
    --base-dark-color: #1a1a1a;
    --base-light-color: #383838;
    --base-text-color: white;
    --base-dark-shadow: #0d0d0d;
    --base-light-shadow: #333333;
    /**/
    --danger-main-color: #d92645;
    --danger-dark-color: #af1e37;
    --danger-light-color: #ea3e5c;
    --danger-text-color: white;
    --danger-dark-shadow: #570f1c;
    --danger-light-shadow: #ff3d6e;
    /**/
    --primary-main-color: #5100a1;
    --primary-dark-color: #390091;
    --primary-light-color: #6700ac;
    --primary-text-color: white;
    --primary-dark-shadow: #200040;
    --primary-light-shadow: #8200ff;

    /* default */
    --text-color: var(--base-text-color)
}

@property --neo-left-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

@property --neo-right-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

.neo-base {
    --neo-dark-main-color: var(--base-dark-color);
    --neo-light-main-color: var(--base-light-color);
    --neo-main-color: var(--base-main-color);
    --dark-shadow-color: var(--base-dark-shadow);
    --light-shadow-color: var(--base-light-shadow);
    --text-color: var(--base-text-color);
}
.neo-danger {
    --neo-dark-main-color: var(--danger-dark-color);
    --neo-light-main-color: var(--danger-light-color);
    --neo-main-color: var(--danger-main-color);
    --dark-shadow-color: var(--danger-dark-shadow);
    --light-shadow-color: var(--danger-light-shadow);
    --text-color: var(--danger-text-color);
}
.neo-primary, 
.neo-primary-on-focus:has(:focus) {
    --neo-dark-main-color: var(--primary-dark-color);
    --neo-light-main-color: var(--primary-light-color);
    --neo-main-color: var(--primary-main-color);
    --dark-shadow-color: var(--primary-dark-shadow);
    --light-shadow-color: var(--primary-light-shadow);
    --text-color: var(--primary-text-color);
}

.neo-gradient-bg {
    background: linear-gradient(145deg, var(--neo-left-bg-color), var(--neo-right-bg-color));
    transition: --neo-left-bg-color 0.2s, --neo-right-bg-color 0.2s;
}

.neo-shadow-out, 
.neo-shadow-out-on-active:active {
    box-shadow: 5px 5px 10px var(--base-dark-shadow), -5px -5px 10px var(--base-light-color);
}
.neo-shadow-in, 
.neo-shadow-in-on-active:active {
    box-shadow: inset 5px 5px 10px var(--dark-shadow-color), inset -5px -5px 10px var(--light-shadow-color);
}

.neo-light-border {
    border: 1px var(--neo-light-main-color) solid;
}

.neo-flat {
    --neo-left-bg-color: var(--neo-main-color);
    --neo-right-bg-color: var(--neo-main-color);
}
.neo-convex {
    --neo-left-bg-color: var(--neo-light-main-color);
    --neo-right-bg-color: var(--neo-dark-main-color);
}
.neo-concave,
.neo-concave-on-hover:hover {
    --neo-left-bg-color: var(--neo-dark-main-color);
    --neo-right-bg-color: var(--neo-light-main-color);
}

p, div {
    color: var(--text-color);
}



::selection {
    color: var(--main-color) !important;
    background: var(--text-color) !important;
}

/* 
    States
*/

.neo-disabled {
    opacity: 0.4;
}

/* 
    alignments
*/

/* 
    This class extends the comportment already available in tailwind to center an element in a relative parent 
    https://tailwindcss.com/docs/top-right-bottom-left
*/
.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invisible-when-empty:empty {
    display: none;
}