.circular-selector-button-group {
    transition: all .15s ease-in-out;
    stroke: var(--neo-dark-main-color);
    stroke-width: 0.05px;
}
.circular-selector-button-group.selected {
    --start-gradient: var(--neo-light-main-color);
    --end-gradient: var(--neo-dark-main-color);
}
.circular-selector-button-group stop:nth-child(1) {
    stop-color: var(--start-gradient);
    transition: stop-color 0.15s ease-in-out;
}
.circular-selector-button-group stop:nth-child(2) {
    stop-color: var(--end-gradient);
    transition: stop-color 0.15s ease-in-out;
}

.circular-selector-button {
    transition: all 0.15s ease-in-out;
}
.circular-selector-button:hover {
    transform: scale(1.15);
}

.circular-selector-content {
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
}