.circular-selector {
    user-select: none;
    filter: drop-shadow(5px 5px 5px var(--base-dark-shadow)) drop-shadow(-5px -5px 5px var(--base-light-shadow));
}

.circular-selector.neo-concave {
    --start-gradient: var(--neo-right-bg-color);
    --end-gradient: var(--neo-left-bg-color);
}
.circular-selector.neo-convex {
    --start-gradient: var(--neo-right-bg-color);
    --end-gradient: var(--neo-left-bg-color);
}

.circular-selector-center {
    fill: var(--neo-main-color);
    stroke: var(--neo-dark-main-color);
    stroke-width: 0.05px;
}

.circular-selector-center-text {
    fill: white;
    stroke: transparent;
    font: bold 4px Verdana, Helvetica, Arial, sans-serif;
    pointer-events: none;
}