
<div class="tooltip-container">
    @* The tooltip *@
    <div class="neo-tooltip @OverrideVisibilityClass">
        @if (ToolTipContent != null)
        {
            @ToolTipContent
        }
        else if (string.IsNullOrWhiteSpace(Text))
        {
            @Text
        }
        else
        {
            <div>
                Empty tooltip
            </div>
        }
    </div>

    @* The element that needs to be hovered *@
    <div>
        @ChildContent
    </div>
</div>
