
@if (ChildContent != null)
{
    <div id="@InternalId" class="neo-popover-parent">
        @if (PopoverContent != null)
        {
            <div class="neo-popover-container">
                <div class="neo-popover @(PopoverOpened ? "neo-popover-visible" : "")">
                    @PopoverContent
                </div>
            </div>
        }
        @ChildContent
    </div>
}