@page "/buttoncarddemo"
@using NeoBlazorphic.Components.Inputs.Buttons
@using NeoBlazorphic.StyleParameters

<h3>ButtonCard</h3>

<div> The button card control uses the Card control with animations interacting with the mouse</div>
<div> Unlike with a card, you cannot select text of a ButtonCard</div>

<div> Please note that animations work better with Chrome </div>

<div class="m-3">
    <ButtonCard ThemeColor="ThemeColor.Base" OnMouseClickCallBack=OnClick>
        <ChildContent>
            Click Me!
        </ChildContent>
    </ButtonCard>
</div>

<div class="m-3" style="width: 100px; height: 100px">
    <div class="h-full">
        <ButtonCard ThemeColor="ThemeColor.Base" OnMouseClickCallBack=OnClick>
            <ChildContent>
                Click Me!
            </ChildContent>
        </ButtonCard>
    </div>
</div>

@if (clicked)
{
    <div> Button click detected !</div>
}

@code {
    public bool clicked { get; set; } = false;

    public async void OnClick(MouseEventArgs ea)
    {
        clicked = true;
        await Task.Delay(1000);
        clicked = false;
        StateHasChanged();
    }
}
