@page "/checksdemo"
@using NeoBlazorphic.Components.Inputs.Checks.CheckBoxes
@using NeoBlazorphic.StyleParameters

<h1>ChecksDemo</h1>

<br />

<div class="col">
    <div class="row">
        
        <div class="col-1">
            <br />
            <CheckBox @bind-IsChecked=_Test.Checked IsEnabled="true" Color="ThemeColor.Primary"></CheckBox>
            <br />
            <CheckBox @bind-IsChecked=IsChecked2 IsEnabled="true" BoxShape="CheckBoxShape.Squared" Color="ThemeColor.Danger"></CheckBox>
            <br />
            <CheckBox @bind-IsChecked=IsChecked IsEnabled="true" BoxShape="CheckBoxShape.Squared" Color="ThemeColor.Base" ></CheckBox>
        </div>
        <div class="col-1">
            <br />
            <CheckBox @bind-IsChecked=_Test.Checked IsEnabled="false" Color="ThemeColor.Primary"></CheckBox>
            <br />
            <CheckBox @bind-IsChecked=IsChecked2 IsEnabled="false" BoxShape="CheckBoxShape.Squared" Color="ThemeColor.Danger"></CheckBox>
            <br />
            <CheckBox @bind-IsChecked=IsChecked IsEnabled="false" BoxShape="CheckBoxShape.Squared" Color="ThemeColor.Base"></CheckBox>
        </div>
    </div>
    <div class="row">

        <div class="col-1">
            <br/>
            <CheckBox @bind-IsChecked=_Test.Checked IsEnabled="true" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Primary"></CheckBox>
            <br/>
            <CheckBox @bind-IsChecked=IsChecked2 IsEnabled="true" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Danger"></CheckBox>
            <br/>
            <CheckBox @bind-IsChecked=IsChecked IsEnabled="true" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Base"></CheckBox>
        </div>
        <div class="col-1">
            <br/>
            <CheckBox @bind-IsChecked=_Test.Checked IsEnabled="false" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Primary"></CheckBox>
            <br/>
            <CheckBox @bind-IsChecked=IsChecked2 IsEnabled="false" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Danger"></CheckBox>
            <br/>
            <CheckBox @bind-IsChecked=IsChecked IsEnabled="false" BoxShape="CheckBoxShape.Round" Color="ThemeColor.Base"></CheckBox>
        </div>

    </div>

</div>

@code {

    public class Test
    {
        public bool Checked { get; set; } = false;
    }

    public bool IsChecked { get; set; } = false;
    public bool IsChecked2 { get; set; } = false;

    public Test _Test { get; set; } = new Test();
}
