@page "/dropdowndemovtwo"

<!--DropDownListDemo-->
@using NeoBlazorphic.StyleParameters
@using NeoBlazorphic.Components.Inputs.DropDownLists
@using NeoBlazorphic.Models.SelectableItems

<h3>DropDownListDemo</h3>




<DropDownList Items=@ThemeList T=string/>

<br />
<br />
<DropDownList Items=@ThemeList T=string/>

@code {
    public int AmountButtons
    {
        get => _amountButtons;
        set => _amountButtons = value;
    }
    
    private List<string> themes = new List<string>()
    {
        "gray", "primary", "danger"
    };

    private int _amountButtons = 3;
    public SelectableItemList<string> ThemeList { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ThemeList = new SelectableItemList<string>();
        ComputeItems();
    }

    private void ComputeItems()
    {
        for (var i = ThemeList.Count; i != AmountButtons; i += 1)
        {
            ThemeList.Add(new SelectableItem<string>(themes[i], i));
        }
    }
}
