@using NeoBlazorphic.Components.Lists.NeoPlainLists
@using NeoBlazorphic.Models.SelectableItems
@using NeoBlazorphic.StyleParameters

@page "/plainListDemo"

<div style="height: 15em">
    <NeoPlainList BorderType="NeoBorderType.NeoShadowOut" T="SelectableItem<string>" Items="Strings" Color=@ThemeColor.Danger>
        <ItemRenderFragment Context="str">
            <div class="p-2">
                @str.Item
            </div>
        </ItemRenderFragment>
    </NeoPlainList>
</div>

<br/>

<input type="text" @bind="Text" />

<div style="height: 15em">
    <NeoPlainList BorderType="NeoBorderType.NeoShadowIn" T="SelectableItem<int>" Items="Integers" Color=@ThemeColor.Primary FilterString="@Text" Filter="(item, s) => string.IsNullOrEmpty(s) || item.Item.ToString().Contains(s)">
        <ItemRenderFragment Context="item">
            <div class="py-1 px-3">
                @item.Item
            </div>
        </ItemRenderFragment>
    </NeoPlainList>
</div>

<div style="height: 15em">
    <NeoPlainList BorderType="NeoBorderType.NeoShadowIn" T="string" Items="NonBoxedStrings" Color=@ThemeColor.Primary FilterString="@Text" Filter="(item, s) => string.IsNullOrEmpty(s) || item.Contains(s)" OnElementClickCallBack="(element) => LastClicked = element">
        <ItemRenderFragment Context="item">
            <div class="py-1 px-3">
                @item
            </div>
        </ItemRenderFragment>
    </NeoPlainList>
</div>

<p> Last element clicked in above list: </p>
<p> @LastClicked </p>


@code {
    public string Text { get; set; } = "";

    public UniqueSelectableItemList<int> Integers { get; set; } = new()
    {
        new SelectableItem<int>(1),
        new SelectableItem<int>(2),
        new SelectableItem<int>(3),
        new SelectableItem<int>(4),
        new SelectableItem<int>(5),
        new SelectableItem<int>(6),
        new SelectableItem<int>(7),
        new SelectableItem<int>(8),
        new SelectableItem<int>(9),
        new SelectableItem<int>(10),
        new SelectableItem<int>(11),
        new SelectableItem<int>(12),
        new SelectableItem<int>(13),
        new SelectableItem<int>(14),
        new SelectableItem<int>(15),
        new SelectableItem<int>(16),
        new SelectableItem<int>(17),
        new SelectableItem<int>(18),
        new SelectableItem<int>(19),
        new SelectableItem<int>(20),
    };

    public UniqueSelectableItemList<string> Strings { get; set; } = new()
    {
        new SelectableItem<string>("hello"),
        new SelectableItem<string>("world"),
        new SelectableItem<string>("how is it?"),
        new SelectableItem<string>("hello"),
        new SelectableItem<string>("world"),
        new SelectableItem<string>("how is it?"),
        new SelectableItem<string>("hello"),
        new SelectableItem<string>("world"),
        new SelectableItem<string>("how is it?"),
        new SelectableItem<string>("hello"),
        new SelectableItem<string>("world"),
        new SelectableItem<string>("how is it?")
    };

    public string LastClicked { get; set; } = "";

    public List<string> NonBoxedStrings { get; set; } = new()
    {
        "Titi", "Tata", "Toto"
    };
}