@using NeoBlazorphic.Components.ToolTips
@using NeoBlazorphic.Components.Base.Cards

@page "/tooltipdemo"

<ToolTip Text="Hovered!">
    <ChildContent>
        <button class="btn btn-primary"> Hover me </button>
    </ChildContent>
</ToolTip>

@code
{

}
