@using NeoBlazorphic.Math.Units
@using NeoBlazorphic.StyleParameters
@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents
@using NeoBlazorphic.Extensions.BaseTypes
@using NeoBlazorphic.Models.SelectableItems


@typeparam T
@inherits MouseInteractiveBaseComponent

@if (Item != SelectableItem<T>.Empty && Item.IsEnabled)
{
	<option value=@Item style="transition: all .15s ease-in-out;"> @Item.Label </option>
}
