@typeparam T

@using System;
@using NeoBlazorphic.Extensions.BaseTypes
@using NeoBlazorphic.Models.SelectableItems
@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents

@inherits MouseInteractiveBaseComponent


@if (Items != SelectableItemList<T>.Empty && Items.Count != 0)
{
    <div>
        <select @bind=@SelectedThemeString
                @onclick=OnMouseClick
                style="fill: var(--text-color);"
                class="@shadowStyle p-3 base-card-shape rounded-xl @shapeStyle"
                @onmouseover=OnMouseOver
                @onmouseout=OnMouseOut>
                
            @foreach (var item in Items)
            {
                <DropDownListButton Item=@item T=@T/>
            }
        </select>
    </div>
}
