@using NeoBlazorphic.Math.Units
@using NeoBlazorphic.StyleParameters
@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents
@using NeoBlazorphic.Extensions.BaseTypes
@using NeoBlazorphic.Models.SelectableItems

@typeparam T
@inherits MouseInteractiveBaseComponent

@if (Item != SelectableItem<T>.Empty && Item.IsEnabled)
{
	<div style="fill: var(--text-color); position: fixed;"
             class="@shadowStyle p-3 base-card-shape rounded-xl @shapeStyle">
		@Item.Label
         </div>
	
} 
