@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@typeparam T

@if (Filter != default)
{
    <input @bind=SearchBarQuery @bind:event="oninput" placeholder="filter here..." style="color: black;">
}

<ul class="px-3">
    @{
        var itemsToDisplay = DisplayableItems();
    }
    @if (itemsToDisplay != null && ItemRenderFragment != null)
    {
        @foreach (var item in itemsToDisplay)
        {
            <li class="my-3">
                <CardsListItem T="T" Item="item" ItemRenderFragment=@ItemRenderFragment/>
            </li>
        }
    }
    else
    {
        <CardsListItem Item="null" T="string">
            <ItemRenderFragment> 
                nothing to show
            </ItemRenderFragment>
        </CardsListItem>
    }
</ul>


