@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@inherits NeoBlazorphic.UserInteraction.Mouse.BaseComponents.MouseInteractiveBaseComponent
@typeparam T

@{
    ComputeUIVariables();
}


<div class="@GetAccentClass()">
    <Card Shape=@CardShape ShadowPosition=@ShadowPosition OnMouseOverCallBack="OnMouseOver" OnMouseOutCallBack="OnMouseOut" OnMouseClickCallBack="OnMouseClick">
        @if (ItemRenderFragment != default)
        {
            @ItemRenderFragment(Item)
        }
    </Card>
</div>