@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@inherits NeoBlazorphic.UserInteraction.Mouse.BaseComponents.MouseInteractiveBaseComponent
@typeparam T

@{
    // Used to modify variables before the actual re rendering of the below page
    // Using OnAfterRender would lead to 2 refresh instead of one.
    RefreshUIVariables();
}


<li class="my-3 ">
    <Card AdditionalClasses="@(IsSelectable() ? "neo-concave-on-hover" : "")" BorderRadius="@CardBorderRadius" BackgroundShape=@BackgroundShape.Flat ShadowPosition=@ShadowPosition ThemeColor="GetAccentClass()" OnMouseClickCallBack="OnMouseClick">
        @if (ItemRenderFragment != default)
        {
            @ItemRenderFragment(Item)
        }
    </Card>
</li>