@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@typeparam T

<button @onclick="() => DebugClicked()">
    debug
</button>

<ul class="px-3">
    @if (Items != null && Items.Count != 0 && ItemRenderFragment != null)
    {
        @foreach (var item in Items)
        {
            
            @*<li class="m-3">*@
            <li class="my-3 mx--3">
                <Card Shape="BackgroundShape.Concave">
                    @ItemRenderFragment(item)
                </Card>
            </li>
        }
    }
</ul>


