@using NeoBlazorphic.Components.Base.Cards;
@using NeoBlazorphic.StyleParameters

@typeparam T

<div class="card-list-container">

    @if (HeaderRenderFragment != null)
    {
        @HeaderRenderFragment
    }

    <ul class="card-list">
        @{
            var itemsToDisplay = DisplayableItems().ToArray();
        }
        @if (ItemRenderFragment != null && itemsToDisplay.Length != 0)
        {
            @foreach (var item in itemsToDisplay)
            {
                <li class="card-list-card">
                    <Card BorderRadius="@BorderRadius" Shape=@BackgroundShape.Flat BorderType="NeoBorderType.NeoShadowOut"
                          Color="@ColorFor(item)" AdditionalClasses="@AdditionalClasses" 
                          OnMouseClickCallBack="() => ItemClicked(item)">
                        @ItemRenderFragment(item)
                    </Card>
                </li>
            }
        }
        else
        {
            <li class="">
                nothing to show...
            </li>
        }
    </ul>
    
    @if (FooterRenderFragment != null)
    {
        @FooterRenderFragment
    }
</div>

