@page "/counter"

<List Items=@Items>
    <ItemTemplate Context="item">
        <div> The number is @item </div>
    </ItemTemplate>
</List>


@code
{
    public List<int> Items { get; set; } = new() { 1, 2, 3, 4 };
}
