@page "/fetchdata"
@using NeoBlazorphic
@using NeoBlazorphic.Components.Inputs.Buttons
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<div class="neo-danger p-3" style="background: var(--main-color)">

<ButtonCard>
    <div> Oui le texte </div>
</ButtonCard>

</div>