
<div class="neo-checkbox @BgShapeClasses @CheckBoxShapeClass @ColorClass @ShadowClass @EnabledClass" @onclick=OnMouseClick>
    <img class="tick @CheckBoxShapeClass @CheckedClass" src="@ImageShapePath" />
</div>