
<div class="checkbox neo-gradient-bg @GetBgShape @ShapeClass @ColorClass @ShadowClass @EnabledClass" @onclick=OnMouseClick>
    <img class="tick @ShapeClass @CheckedClass" src="@ShapeImage" />
</div>