


.checkbox {
    width: 27px;
    height: 27px;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.enabled {
    cursor: pointer;
}
.disabled {
    opacity: 0.4;
}

.checkbox.squared {
    border-radius: 0.375rem;
}

.checkbox.circled {
    border-radius: 9999px;
}

.tick {
    top: 50%;
    left: 40px;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-26px 0 0 var(--text-color));
    position: absolute;
    transition: opacity 0.2s;
}

.unchecked {
    opacity: 0;
}

.tick.squared {
    height: 12px;
    width: 16px;
}
.tick.circled {
    width: 8px;
    height: 8px;
}