
<!-- Container is necessary to split the animations between the css properties of the background and the overall button (going up on hover) -->
<div class="neo-button-container">
    <div class="neo-button neo-flat neo-concave-on-hover neo-shadow-out neo-shadow-in-on-active @ColorClass @PaddingClass"
         style="@BorderRadiusStyle" 
         @onclick="OnMouseClick">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>    
</div>

