.neo-button-container {
    transition: all .2s;
}
.neo-button-container:hover {
    transform: translateY(-2px);
}

.neo-button {
    user-select: none;
    padding: 1em;
    cursor: pointer;
}
