.neo-button-container {
    transition: all .2s;
}
.neo-button-container:hover {
    transform: translateY(-2px);
}

.neo-button {
    user-select: none;
    cursor: pointer;
    background: linear-gradient(145deg, var(--neo-left-bg-color), var(--neo-right-bg-color));
    transition: --neo-left-bg-color 0.2s, --neo-right-bg-color 0.2s;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

