
<div class="neo-button-container">
    <div class="neo-button @GetColorTheme" style="@BorderRadius.GetCssProperty()" @onclick="OnMouseClick">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>    
</div>

