
<div class="neo-button-container">
    <div class="neo-bg neo-flat neo-concave-on-hover neo-shadow-out neo-shadow-in-on-active neo-button @GetColorTheme" style="@BorderRadius.GetCssProperty()" @onclick="OnMouseClick">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>    
</div>

