@using NeoBlazorphic.UserInteraction.Mouse.BaseComponents;

@inherits MouseInteractiveBaseComponent;
@typeparam T

<li class="@AccentClass" style="@GetBrightnessFilter() @GetBackgroundColor()" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onclick="OnMouseClick">
    @if (ItemRenderFragment != null)
    {
        @ItemRenderFragment(Item);
    }
</li>